
:root {
  max-width: 1440px;
  margin: 0 auto;

  --primary-color:black ;
    --secondary-color: grey;
    --text-color:white ;
    --accent-color: whitesmoke;
}
*{
  
  color: white;
}

body{
  font-family: 'Roboto', sans-serif;
  
  color: #333;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}
.container{
  padding: 0 1em;
}

a{
  text-decoration: none;
  color: #f5efef;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
button {
  background-color: #ffffff00;
  color: #fff;
  width: 8.5em;
  height: 2.9em;
  border: #3654ff 0.2em solid;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
}

.button:hover {
  background-color: #3654ff;
  cursor: pointer;
}
@media screen and (min-width: 768px){
  
  
}